<div *ngIf="(users$ | async)?.loading">Loading...</div>

<div class="row mx-2">
    <h1 class="col-7">User List</h1>
    <div class="col-5 my-2 pull-left">
        <div class="row">
            <div class="col-4">
                <a class="btn btn-primary" [routerLink]="['/user/add']" role="button">+ Add user</a>
            </div>
            <div class="col-8">
                <input  #usersData [value]="(users$ | async).items | json" type="hidden" />
                <div class="input-group mb-3">
                    <input type="text" #search class="form-control" placeholder="Search by name"
                        aria-label="Search by name" aria-describedby="button-clear"
                        (keyup)="onSearch(usersData.value, $event.target.value)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button"
                            (click)="(search.value='');onSearch(usersData.value, '')"
                            id="button-clear">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12" *ngIf="(users$ | async)?.complete">
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Birthdate</th>
                    <th>Phone</th>
                    <th>City</th>
                    <th>Street</th>
                    <th>Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="userList.length > 0">
                <tr *ngFor="let user of userList; let i = index">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname }}</td>
                    <td>{{ user.birthDate }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.city }}</td>
                    <td>{{ user.street }}</td>
                    <td>{{ user.number }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" [routerLink]="['/user/edit/'+i]" role="button">Edit</a>
                        <input type="button" class="btn btn-danger btn-sm" (click)="confirmDelete(user, i)" value="Delete">
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="userList.length <= 0">
                <tr>
                    <td colspan="9" class="font-italic text-center text-danger">
                        <h6>No data found.</h6>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


